<!DOCTYPE html>
<html lang="en" class="page-simple">

<head>
  {$COMMON_HEAD}
  <title>Discross - Change Password</title>
</head>

<body style="margin: 0;" {$WHITE_THEME_ENABLED}>
  <div id="wrapper">
    <table style="width: 100%;">
      <tr valign="middle">
        <td><a href="/"><img src="/resources/logo.gif" alt="Logo"></a></td>
        <td>
          <font size="7" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">discross</font>
        </td>
        <td width="100%" align="right">
          <font size="4" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">&#160;&#160; {$MENU_OPTIONS}</font>
        </td>
        <td valign="middle">
          <a href="/switchtheme"><img src="/resources/twemoji/1f313.gif" alt="Switch theme" width="36" height="36" style="background: none; border: none;"></a>
        </td>
      </tr>
    </table>
    <hr style="margin: 0;">
    <br>
    <table>
        <tr>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <form action="/changepassword{$SESSION_PARAM}" method="post">
              <font size="6" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">Change Password</font><br><br>
              <font face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">
                Current password:
                <br><br>
                <div style="padding: 16px;background: #222327;width: 300px;"><input
                    type="password" name="current_password" id="current_password" value=""
                    style="color: #dddddd;background: #222327;border: none;width: 100%;outline: none;"
                    placeholder="Current password"></div>
                <br>
                New password:<br><br>(don't use your Discord password)
                <br><br>
                <div style="padding: 16px;background: #222327;width: 300px;"><input
                    type="password" name="new_password" id="new_password" value=""
                    style="color: #dddddd;background: #222327;border: none;width: 100%;outline: none;"
                    placeholder="New password"></div>
                <br>
                Confirm new password:
                <br><br>
                <div style="padding: 16px;background: #222327;width: 300px;"><input
                    type="password" name="confirm_password" id="confirm_password" value=""
                    style="color: #dddddd;background: #222327;border: none;width: 100%;outline: none;"
                    placeholder="Confirm new password"></div>
                <br>
                6-digit code from your Discord DMs:
                <br><br>
                <div style="padding: 16px;background: #222327;width: 300px;"><input type="text"
                    name="discord_code" id="discord_code" value=""
                    style="color: #dddddd;background: #222327;border: none;width: 100%;outline: none;"
                    placeholder="6-digit code" maxlength="6" autocomplete="off"></div>
                <br>
                <a href="{$SEND_CODE_URL}" style="display: inline-block; color: #ffffff; height: 44px; line-height: 44px; width: 200px; text-align: center; text-decoration: none; background: #444; border-radius: 8px; font-family: 'rodin', Arial, Helvetica, sans-serif; font-size: 15px; font-weight: 500;">Resend Code to Discord</a>
                <br><br>
                {$ERROR}<br>
                <input type="submit"
                  style="color: #ffffff;height: 44px;width:200px;border: none;background: #5865f2;border-radius: 8px;font-family: 'rodin', Arial, Helvetica, sans-serif;font-size: 16px;font-weight: 500;cursor: pointer;"
                  value="Change Password">
              </font>
            </form>
          </td>
        </tr>
    </table>
  </div>
</body>

</html>
