<!doctype html>
<html lang="en" class="{$PAGE_CLASS}">
  <head>
    {$COMMON_HEAD}
    <title>Discross - {$CHANNEL_NAME}</title>
    <script src="/js/channel.js"></script>
  </head>

  <body {$WHITE_THEME_ENABLED}>
    <div id="wrapper">
      <!-- Main content area with padding at bottom for message input -->
      <div class="content-padding">
        <!-- Padding accommodates message form container height -->
        <div style="padding: 16px 16px 16px 0">
          <div id="msgcontainer">{$MESSAGES}</div>
        </div>
      </div>

      <div class="message-form-container">
        {$CHANNEL_REPLY} {$EMOJI_PICKER}

        <form
          action="/send"
          method="GET"
          onsubmit="return sendMessageOrFile();"
          style="position: relative"
        >
          <div>
            {$EMOJI_BUTTON}
            <a href="/upload/{$CHANNEL_ID}{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f4e4.gif"
                alt="Upload file"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/draw/{$CHANNEL_ID}{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f58c-fe0f.gif"
                alt="Draw"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/pins/{$CHANNEL_ID}{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f4cc.gif"
                alt="Pins"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/sports{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/26bd.gif"
                alt="Sports"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/food/{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f355.gif"
                alt="Order Pizza"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/news{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f4f0.gif"
                alt="News"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/weather{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/26c5.gif"
                alt="Weather"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/stocks{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f4c8.gif"
                alt="Stocks"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/currency{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f4b5.gif"
                alt="Currency"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/tv{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f4fa.gif"
                alt="TV Guide"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/movies{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f3ac.gif"
                alt="Movies &amp; TV"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="/switchtheme{$SESSION_PARAM}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f313.gif"
                alt="Switch theme"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="../server/{$SERVER_ID}" class="message-action-btn">
              <img
                src="/resources/twemoji/2b05.gif"
                alt="Back"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
            <a href="{$REFRESH_URL}" class="message-action-btn">
              <img
                src="/resources/twemoji/1f501.gif"
                alt="Refresh"
                width="24"
                height="24"
                style="width: 24px; height: 24px"
              />
            </a>
          </div>
          <input type="hidden" id="channel" name="channel" value="{$CHANNEL_ID}" />
          <input type="hidden" id="sessionID" name="sessionID" value="{$SESSION_ID}" />
          <input type="hidden" id="lite" name="lite" value="False" />
          {$REPLY_MESSAGE_ID_INPUT} {$INPUT}
        </form>

        <!-- Standalone hidden file input for AJAX upload (modern browsers) -->
        <input
          type="file"
          id="fileUpload"
          style="display: none"
          aria-label="Upload file"
          onchange="handleFileSelect(this)"
        />
      </div>
      <a id="end" name="end"></a>
    </div>
  </body>
</html>
