<!DOCTYPE html>
<html class="page-simple">

<head>
  {$COMMON_HEAD}
  <title>Discross - Disable 2FA</title>
</head>

<body style="margin: 0;" {$WHITE_THEME_ENABLED}>
  <div id="wrapper">
    <table style="width: 100%;">
      <tr valign="middle">
        <td><a href="/"><img src="/resources/logo.gif" alt="Logo"></a></td>
        <td>
          <font size="7" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">discross</font>
        </td>
        <td width="100%" align="right">
          <font size="4" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">&#160;&#160; {$MENU_OPTIONS}</font>
        </td>
        <td valign="middle">
          <a href="/switchtheme"><img src="/resources/twemoji/1f313.gif" alt="Switch theme" style="background: none; border: none;"></a>
        </td>
      </tr>
    </table>
    <hr style="margin: 0;">
    <br>
    <table>
        <tr>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <font size="6" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">Disable Two-Factor Authentication</font><br><br>
            <font face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">
              2FA is currently <b>enabled</b> on your account.<br><br>
              To disable it, enter your current password below.<br><br>
              <font color="#ff9900">Warning: disabling 2FA will also delete all your backup codes.</font><br><br>
              <form action="/disable2fa{$SESSION_PARAM}" method="post">
                <div style="padding: 16px;background: #222327;width: 300px;"><input type="password"
                    name="password" id="password" value=""
                    style="color: #dddddd;background: #222327;border: none;width: 100%;outline: none;"
                    placeholder="Current password" autocomplete="current-password"></div>
                {$ERROR}<br>
                <input type="submit"
                  style="color: #ffffff;height: 44px;width:200px;border: none;background: #c0392b;border-radius: 8px;font-family: 'rodin', Arial, Helvetica, sans-serif;font-size: 16px;font-weight: 500;cursor: pointer;"
                  value="Disable 2FA">
              </form>
            </font>
          </td>
        </tr>
    </table>
  </div>
</body>

</html>
