<!DOCTYPE html>
<html class="page-simple">

<head>
  {$COMMON_HEAD}
  <title>Discross - Forgot Password</title>
</head>

<body style="margin: 0;" {$WHITE_THEME_ENABLED}>
  <div id="wrapper">
    <table style="width: 100%;">
      <tr valign="middle">
        <td><a href="/"><img src="/resources/logo.gif" alt="Logo"></a></td>
        <td>
          <font size="7" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">discross</font>
        </td>
        <td width="100%" align="right">
          <font size="4" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">&#160;&#160; {$MENU_OPTIONS}</font>
        </td>
        <td valign="middle">
          <a href="/search"><img src="/resources/twemoji/1f50d.gif" alt="Search" style="background: none; border: none;"></a>
        </td>
        <td valign="middle">
          <a href="/switchtheme"><img src="/resources/twemoji/1f313.gif" alt="Switch theme" style="background: none; border: none;"></a>
        </td>
      </tr>
    </table>
    <hr style="margin: 0;">
    <br>
    <table>
        <tr>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <form action="/forgot" method="post">
              <font size="6" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">Forgot username or password<br>
                WARNING:<br>
                This will delete your account so that you can create a new one.</font>
              <font face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">
                <br><br>
                Verification code:
                <br><br>
                Type ^connect on a server with Discross to get this.
                <br><br>
                <div style="padding: 16px;background: #222327;width: 300px;"><input type="text"
                    name="token" id="token" value=""
                    style="color: #dddddd;background: #222327;border: none;width: 100%;outline: none;"
                    placeholder="Verification code"></div>
                {$ERROR}<br>
                <input type="submit"
                  style="color: #ffffff;height: 44px;width:150px;border: none;background: #5865f2;border-radius: 8px;font-family: 'rodin', Arial, Helvetica, sans-serif;font-size: 16px;font-weight: 500;cursor: pointer;"
                  value="Delete account">
              </font>
            </form>
          </td>
        </tr>
    </table>
  </div>
</body>

</html>
