<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Discross - Home</title>
  <meta name="description"
    content="A work-in-progress unofficial Discord relay (that acts like a client) aiming to support all platforms that support HTML.">
  <meta name="keywords" content="Discord,client,wii,nintendo switch,switch">
  <meta name="author" content="circuit10#0158">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/themes.css">
  <link rel="stylesheet" href="/css/components.css">
  <style>
    .buttons {
      margin: 16px 0;
    }
  </style>
</head>

<body id="wrapper" {$WHITE_THEME_ENABLED}>
  <div>
    <table class="header-table">
      <tr>
        <td class="header-logo"><img src="/resources/logo.gif" alt="Logo"></td>
        <td class="header-title">discross</td>
        <td class="header-menu">{$MENU_OPTIONS}</td>
        <td>
          <form action="/switchtheme" method="post">
            <button type="submit" class="theme-switch-button">
              <img src="/resources/images/themeswitch.gif" alt="Switch theme">
            </button>
          </form>
        </td>
      </tr>
    </table>
    <hr>

    <div class="content-section">
      <div class="buttons">
        <a class="discross-button"
          href="http://discordapp.com/oauth2/authorize?client_id=968999890640338955&scope=bot&permissions=8">Add
          Discross to your server</a>
        <br>
        <a class="discross-button" href="http://discord.gg/YrPG9krvVF">Join our Discord</a>
        <br>
        <a class="discross-button" href='http://github.com/larsenv/discross/'>Source code</a>
      </div>
      
      <div class="section">
        <span class="section-text">
          Questions or feedback? Contact us at <a href="mailto:admin@discross.net">admin@discross.net</a>
        </span>
      </div>
      
      <div class="section">
        <span class="section-text">
          <a href="/privacy.html">Privacy Policy</a> / <a href="/terms.html">Terms</a>
        </span>
      </div>
  
      <div class="section">
        <span class="section-text">By logging in or registering you agree to the use of cookies</span>
      </div>
  
      <div class="section">
        <h2 class="section-title">What is Discross?</h2>
        <p class="section-text">
          A work-in-progress unofficial Discord relay (that acts like a client) aiming to support all platforms that support
          HTML.
          It uses webhooks and a bot so it doesn't need your user token, which would allow anyone to control your account.
          However, this means it only works on servers with the bot.
        </p>
      </div>
  
      <div class="section">
        <h2 class="section-title">What platforms are supported?</h2>
        <p class="section-text">
          Almost any platform that has a browser. Platforms that are confirmed to work, to some extent:
          <ul>
            <li>iOS</li>
            <li>Kindle</li>
            <li>MacOS 9</li>
            <li>Nintendo 3DS</li>
            <li>Nintendo DS</li>
            <li>Nintendo DSi</li>
            <li>Nintendo Switch</li>
            <li>Nintendo Switch 2</li>
            <li>PlayStation 2</li>
            <li>PlayStation 3</li>
            <li>PlayStation 4</li>
            <li>PlayStation 5</li>
            <li>PlayStation Portable</li>
            <li>PlayStation Vita</li>
            <li>Sega Dreamcast</li>
            <li>Sega Saturn</li>
            <li>Smart TV</li>
            <li>Wii</li>
            <li>Wii U</li>
            <li>Windows 95</li>
            <li>Windows 98</li>
            <li>Windows XP</li>
            <li>Xbox 360</li>
            <li>Xbox One</li>
            <li>Xbox Series X</li>
          </ul>
        </p>
      </div>
  
      <div class="section">
        <h2 class="section-title">Forwarder</h2>
        <p class="section-text">Install these to access Discross quicker.</p>
        <p class="section-text">
          <ul>
            <li>Nintendo 3DS - CIA (<a href='/forwarder/discross.cia'>Direct</a> / <a href='/forwarder/discross.png'>QR</a>)</li>
            <li>PSP - <a href='http://banner.rc24.xyz/discross.prs'>Click here on a PSP to install
                this forwarder</a></li>
            <li>Wii - <a href='/forwarder/discross.wad'>WAD</a></li>
          </ul>
        </p>
      </div>
  
      <div class="section">
        <h2 class="section-title">Credits</h2>
        <p class="section-text">
          <ul>
            <li>AndreMor - Implementation of OAuth support</li>
            <li>circuit10 - Creator of the project</li>
            <li>Gabubu - Creator of Wii Discross forwarder</li>
            <li>inqurity - Implementation of several features</li>
            <li>Larsenv - Maintainer of project</li>
            <li>zlc1004 - Implementation of reply and other features</li>
          </ul>
        </p>
    </div>
  </div>
</body>

</html>
