<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/themes.css">
  <link rel="stylesheet" href="/css/components.css">
  <title>Discross - Login</title>
</head>

<body {$WHITE_THEME_ENABLED}>
  <div id="wrapper">
    <table class="header-table">
      <tr>
        <td class="header-logo"><img src="/resources/logo.gif" alt="Logo"></td>
        <td class="header-title">discross</td>
        <td class="header-menu">
          <a href="./login.html">Login</a>
          <a href="./register.html">Register</a>
        </td>
        <td>
          <form action="/switchtheme" method="post">
            <button type="submit" class="theme-switch-button">
              <img src="/resources/images/themeswitch.gif" alt="Switch theme">
            </button>
          </form>
        </td>
      </tr>
    </table>
    <hr>
    <br>
    <table>
      <tbody>
        <tr>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <form action="/login" method="post">
              <h2 class="form-title">Login</h2><br>
              <span class="form-label">
                Username:
                <br><br>
                <div class="form-input-wrapper"><input type="text"
                    name="username" id="username" value=""
                    class="form-input"
                    placeholder="Username"></div>
                <br>
                Password:
                <br><br>
                <div class="form-input-wrapper"><input type="password"
                    name="password" id="password" value=""
                    class="form-input"
                    placeholder="Password"></div>
                <br>
                <a href="/forgot.html" class="form-link">
                  Forgot username or password
                </a>
                <br>
                <br>{$ERROR}<br>
                <input type="hidden" id="redirect" name="redirect" value="{$REDIRECT_URL}">
                <input type="submit" class="submit-button" value="Login">
              </span>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
