<!DOCTYPE html>
<html class="page-server">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Discross - Menu</title>
    <link rel="stylesheet" href="/css/main.css">
    <script>
        // Category collapse/expand functionality (#17)
        function toggleCategory(element) {
            var arrow = element.querySelector('.category-arrow');
            // Find the category-channels div - it should be a sibling after potentially a BR
            var categoryDiv = null;
            var sibling = element.nextElementSibling;
            
            // Skip over BR tags to find the category-channels div
            while (sibling) {
                if (sibling.classList && sibling.classList.contains('category-channels')) {
                    categoryDiv = sibling;
                    break;
                }
                sibling = sibling.nextElementSibling;
            }
            
            if (categoryDiv) {
                var isCollapsed = categoryDiv.classList.toggle('collapsed');
                if (arrow) {
                    arrow.src = isCollapsed ? '/resources/twemoji/25b6.gif' : '/resources/twemoji/1f53d.gif';
                    arrow.alt = isCollapsed ? '>' : 'v';
                }
                
                // Store state in localStorage
                try {
                    var categoryId = categoryDiv.id;
                    if (categoryId) {
                        localStorage.setItem(categoryId, isCollapsed ? 'collapsed' : 'expanded');
                    }
                } catch (e) {
                    // localStorage might not be available
                }
            }
        }
        
        // Restore category states on page load
        window.onload = function() {
            try {
                var categories = document.querySelectorAll('.category-channels');
                categories.forEach(function(cat) {
                    var state = localStorage.getItem(cat.id);
                    if (state === 'collapsed') {
                        cat.classList.add('collapsed');
                        
                        // Find the previous category link to update arrow
                        var prevSibling = cat.previousElementSibling;
                        while (prevSibling) {
                            if (prevSibling.tagName === 'A' && prevSibling.onclick) {
                                var arrow = prevSibling.querySelector('.category-arrow');
                                if (arrow) {
                                    arrow.src = '/resources/twemoji/25b6.gif';
                                    arrow.alt = '>';
                                    break;
                                }
                            }
                            prevSibling = prevSibling.previousElementSibling;
                        }
                    }
                });
            } catch (e) {
                // localStorage might not be available
            }
        };
    </script>
</head>

<body {$WHITE_THEME_ENABLED}>
    <div id="wrapper">
        <table>
            <tr>
                <td valign="top" style="vertical-align: top; text-align: center;">
                    <a href="/server/{$SESSION_PARAM}"><img src="/resources/logo.gif" alt="Home"></a><br>
                    <hr noshade>
                    {$SERVER_LIST}
                </td>
                <td valign="top" style="vertical-align: top;">
                    {$DISCORD_NAME}

                    {$CHANNEL_LIST}
                </td>
            </tr>
        </table>
    </div>
</body>

</html>