<!DOCTYPE html>
<html class="page-server">

<head>
    {$COMMON_HEAD}
    <title>Discross - Menu</title>
    <script src="/js/server.js"></script>
</head>

<body {$WHITE_THEME_ENABLED}>
    <div id="wrapper">
        <table>
            <tr>
                <td valign="top" style="vertical-align: top; text-align: center;">
                    <a href="/server/{$SESSION_PARAM}"><img src="/resources/logo.gif" alt="Home"></a><br>
                    <a href="/dm/{$SESSION_PARAM}"><img height="48" width="48" src="https://discross.net/resources/twemoji/1f464.gif" alt="Direct Messages" title="Direct Messages" style="display: block; margin: 4px auto;"></a>
                    <hr noshade>
                    {$SERVER_LIST}
                </td>
                <td valign="top" style="vertical-align: top;">
                    {$DISCORD_NAME}

                    {$CHANNEL_LIST}
                </td>
            </tr>
        </table>
    </div>
</body>

</html>