<!DOCTYPE html>
<html class="page-simple">

<head>
  {$COMMON_HEAD}
  <title>Discross - Set Up 2FA</title>
</head>

<body style="margin: 0;" {$WHITE_THEME_ENABLED}>
  <div id="wrapper">
    <table style="width: 100%;">
      <tr valign="middle">
        <td><a href="/"><img src="/resources/logo.gif" alt="Logo"></a></td>
        <td>
          <font size="7" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd"><b>discross</b></font>
        </td>
        <td width="100%" align="right">
          <font size="4" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">&#160;&#160; {$MENU_OPTIONS}</font>
        </td>
        <td valign="middle">
          <a href="/switchtheme"><img src="/resources/images/themeswitch.gif" alt="Switch theme" style="background: none; border: none;"></a>
        </td>
      </tr>
    </table>
    <hr style="margin: 0;">
    <br>
    <table>
        <tr>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <font size="6" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">Set Up Two-Factor Authentication</font><br><br>
            <font face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">
              1. Scan the QR code below with an authenticator app (e.g. Authy, Google Authenticator).<br><br>
              <img src="{$QR_CODE}" alt="QR Code" style="width: 200px; height: 200px;"><br><br>
              Or enter this secret manually:<br><br>
              <code style="background: #393c40; padding: 8px; font-size: 14px;">{$SECRET}</code><br><br>
              2. Enter the 6-digit code from your authenticator app to confirm setup:<br><br>
              <form action="/setup2fa{$SESSION_PARAM}" method="post">
                Your current password:
                <br><br>
                <div style="padding: 16px;background: #393c40;width: 300px;"><input type="password"
                    name="password" id="password" value=""
                    style="color: #dddddd;background: #393c40;border: none;width: 100%;outline: none;"
                    placeholder="Current password" autocomplete="current-password"></div>
                <br>
                6-digit code from authenticator app:
                <br><br>
                <div style="padding: 16px;background: #393c40;width: 300px;"><input type="text"
                    name="totp_code" id="totp_code" value=""
                    style="color: #dddddd;background: #393c40;border: none;width: 100%;outline: none;"
                    placeholder="6-digit code" maxlength="6" autocomplete="off"></div>
                {$ERROR}<br>
                <input type="submit"
                  style="color: #ffffff;height: 44px;width:200px;border: none;background: #5865f2;border-radius: 8px;font-family: 'rodin', Arial, Helvetica, sans-serif;font-size: 16px;font-weight: 500;cursor: pointer;"
                  value="Enable 2FA">
              </form>
            </font>
          </td>
        </tr>
    </table>
  </div>
</body>

</html>
