<!DOCTYPE html>
<html class="page-simple">

<head>
  {$COMMON_HEAD}
  <title>Discross - Terms</title>
</head>

<body style="margin: 0;" {$WHITE_THEME_ENABLED}>
  <div id="wrapper">
    <table style="width: 100%;">
      <tr valign="middle">
        <td><a href="/"><img src="/resources/logo.gif" alt="Logo"></a></td>
        <td>
          <font size="7" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">discross</font>
        </td>
        <td width="100%" align="right">
          <font size="4" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">&#160;&#160; {$MENU_OPTIONS}</font>
        </td>
        <td valign="middle">
          <a href="/switchtheme"><img src="/resources/twemoji/1f313.gif" alt="Switch theme" width="36" height="36" style="background: none; border: none;"></a>
        </td>
      </tr>
    </table>
    <hr style="margin: 0;">
    <br>
    <table>
        <tr>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">
              <font size="5" style="font-weight: normal;">Terms</font><br><br>
              <p><strong>Last Updated:</strong> November 5, 2025</p>

              <section>
                <font size="4" style="font-weight: normal;">Introduction</font><br>
                <p>Welcome to <strong>Discross</strong> (the "Service"), available at 
                <a style="color: #647dcd;" href="https://discross.net/">https://discross.net/</a>. Discross allows users to communicate on 
                Discord using any modern web browser. By using this Service, you agree to comply with and be bound by 
                these Terms and Conditions.</p>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Eligibility</font><br>
                <p>You must be <strong>13 years of age or older</strong> to use this Service. By using Discross, you confirm that 
                you meet this requirement.</p>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Use of the Service</font><br>
                <ul>
                  <li>You may not share your account credentials (username or password) with any other person.</li>
                  <li>You may not attempt to <strong>DDoS</strong> the site, breach its security, or otherwise disrupt the Service.</li>
                  <li>You must follow <a style="color: #647dcd;" href="http://discord.com/guidelines" target="_blank">Discord's Community Guidelines</a> at all times.</li>
                </ul>
                <p>Violation of these rules may result in the immediate termination of your access to the Service.</p>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Discord Terms</font><br>
                <p>By using Discross, you are also bound by Discord's own Terms of Service and Privacy Policy, available at:</p>
                <ul>
                  <li><a style="color: #647dcd;" href="http://discord.com/terms" target="_blank">Discord Terms of Service</a></li>
                  <li><a style="color: #647dcd;" href="http://discord.com/privacy" target="_blank">Discord Privacy Policy</a></li>
                </ul>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Privacy Policy</font><br>
                <p>Your use of Discross is also governed by our Privacy Policy, which can be found at 
                  <a href="http://discross.net/privacy.html" target="_blank">http://discross.net/privacy.html</a>.
                </p>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Disclaimer of Warranties</font><br>
                <p>Discross is provided <strong>"as is"</strong> and without any warranty, express or implied. We make no guarantees 
                about the reliability, security, or performance of the Service.</p>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Termination of Access</font><br>
                <p>Discross reserves the right to terminate or restrict access to any user or service at any time, 
                without notice, if we determine that our platform has been abused or these Terms have been violated.</p>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Service Modifications</font><br>
                <p>The Service may be modified, suspended, or discontinued at any time without prior notice. We are not liable 
                for any loss or inconvenience resulting from such changes.</p>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Server Location</font><br>
                <p>Discross servers are hosted in <strong>Ashburn, Virginia, USA</strong>, operated by <strong>Oracle Cloud Infrastructure</strong>.</p>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Limitation of Liability</font><br>
                <p>To the maximum extent permitted by law, Discross and its developers shall not be held liable for any 
                damages arising from your use or inability to use the Service.</p>
              </section>

              <section>
                <font size="4" style="font-weight: normal;">Contact</font><br>
                <p>If you have any questions about these Terms, please contact us at: 
                  <a style="color: #647dcd;" href="mailto:admin@discross.net">admin@discross.net</a></p>
              </section>
            </font>
          </td>
        </tr>
    </table>
  </div>
</body>

</html>
