<!doctype html>
<html lang="en" class="page-simple">
  <head>
    {$COMMON_HEAD}
    
  </head>

  <body {$WHITE_THEME_ENABLED}>
    <div style="padding: 16px">
      <p><a href="/channels/{$CHANNEL_ID}{$SESSION_PARAM}#end">&lt; Back to #{$CHANNEL_NAME}</a></p>
      <p>
        <font face="'rodin', Arial, sans-serif" color="#dddddd">Upload a file to #{$CHANNEL_NAME}:</font>
      </p>
      <form action="/uploadFile?traditional=true&sessionID={$SESSION_ID}" method="POST" enctype="multipart/form-data" onsubmit="if(this.submitted){return false;} this.submitted=true; var b=this.uploadbtn; if(b){b.disabled=true; b.value='Uploading...';} return true;">
        <input type="hidden" name="channel" value="{$CHANNEL_ID}" />
        <input type="hidden" name="message" value="" />
        <input type="hidden" name="sessionID" value="{$SESSION_ID}" />
        <input type="file" name="file" />
        <br /><br />
        <input type="submit" name="uploadbtn" value="Upload" />
      </form>
    </div>
  </body>
</html>
