<font face="Arial, Helvetica, sans-serif" color="#dddddd">
  <font size="5" color="#ff6b6b"><b>⚠ Authentication Required</b></font>
  <br />
  <br />
  <font size="4">To view your Discord servers, you must authenticate with Discord first.</font>
  <br />
  <br />
  <a href="/">
    <font face="Arial, Helvetica, sans-serif" color="#dddddd">Home</font>
  </a>
</font>
<br />
<br />
<table style="background: #4a5568; border: 2px solid #647dcd; padding: 15px; width: 90%;">
  <tbody>
    <tr>
      <td>
        <font face="Arial, Helvetica, sans-serif" color="#dddddd" size="4">
          <b>🔒 Required Step:</b> You must click the link below to sync your Discord servers with Discross.
          <br /><br />
          <a
            href="https://discord.com/oauth2/authorize?client_id=968999890640338955&response_type=token&redirect_uri=https%3A%2F%2Fdiscross.rc24.xyz%2Fdiscord.html&scope=identify+guilds&prompt=none"
            style="color: #88d8ff; font-weight: bold; text-decoration: underline;"
          >
            <font face="Arial, Helvetica, sans-serif" color="#88d8ff" size="4"
              >👉 Click here to authenticate and update your server list</font
            >
          </a>
          <br /><br />
          <font size="3" color="#a0a0a0">(Modern browser required for authentication)</font>
          <br /><br />
          <font size="2" color="#b9bbbe">Only needed if you've added or removed servers or this is your first login.</font>
        </font>
      </td>
    </tr>
  </tbody>
</table>
<br />
<br />
<a
  style="color: #647dcd"
  href="https://discordapp.com/oauth2/authorize?client_id=968999890640338955&scope=bot&permissions=536870912"
>
  <font face="Arial, Helvetica, sans-serif" color="#dddddd"
    >Add Discross to your server</font
  >
</a>
{$IMAGES_WARNING}
<br>
<form action="/switchtheme" method="post">
  <button type="submit" style="background: none; border: none;">
    <font face="Arial, Helvetica, sans-serif" color="#dddddd"
      >Switch Theme</font
    >
  </button>
</form>
