<font face="'rodin', Arial, Helvetica, sans-serif" class="server-select-text">
  <font size="5"><b>Select a Server</b></font>
  <br /><br />
  <font size="4">Choose a server from the list on the left to view channels.</font>
  <br /><br />
</font>
<a class="discross-button" href="/">Home</a>
<br>
<a class="discross-button" href="https://discord.com/oauth2/authorize?client_id=968999890640338955&response_type=token&redirect_uri=https%3A%2F%2Fdiscross.net%2Fdiscord.html&scope=identify+guilds&prompt=none">Update Server List</a>
<br>
<a class="discross-button" href="https://discordapp.com/oauth2/authorize?client_id=968999890640338955&scope=bot&permissions=536870912">Add Discross to your server</a>
<br>
<a class="discross-button" href="/changepassword.html{$SESSION_PARAM}">Change Password</a>
<br>
<a class="discross-button" href="/setup2fa.html{$SESSION_PARAM}">Manage 2FA</a>
<br>
{$IMAGES_WARNING}
<br>
<a class="discross-button" href="/switchtheme{$SESSION_PARAM}">Switch Theme</a>
