<style>
    .discross-button {
      display: inline-block;
      background: #5865f2;
      color: white;
      padding: 12px 24px;
      border-radius: 8px;
      text-decoration: none;
      font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 500;
      border: none;
      cursor: pointer;
      transition: background-color 0.2s ease;
      margin: 8px 0;
    }
</style>
<font face="Arial, Helvetica, sans-serif" color="#dddddd">
  <font size="5" color="#5865f2"><b>Select a Server</b></font>
  <br /><br />
  <font size="4">Choose a server from the list on the left to view channels.</font>
  <br /><br />
</font>
<a class="discross-button" href="/">Home</a>
<br>
<a class="discross-button" href="https://discord.com/oauth2/authorize?client_id=968999890640338955&response_type=token&redirect_uri=https%3A%2F%2Fdiscross.rc24.xyz%2Fdiscord.html&scope=identify+guilds&prompt=none">Update Server List</a>
<font size="3"
  style="padding: 12px 24px; cursor: pointer; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold;"
  color="#e3e5e8">This will sync your current Discord servers with Discross</font>
<br>
<a class="discross-button" href="https://discordapp.com/oauth2/authorize?client_id=968999890640338955&scope=bot&permissions=536870912">Add Discross to your server</a>
<br>
{$IMAGES_WARNING}
<br>
<form action="/switchtheme" method="post">
  <button class="discross-button" type="submit">
    Switch Theme
  </button>
</form>
