<div class="sync-warning-box">
  <span class="sync-warning-text">
    <span class="sync-warning-title">⚠ Server List Needs Update</span>
    <br /><br />
    Please update your server list to see all your servers (this requires a modern browser)
    <br /><br />
    <button onclick="window.location.href='https://discord.com/oauth2/authorize?client_id=968999890640338955&response_type=token&redirect_uri=https%3A%2F%2Fdiscross.net%2Fdiscord.html&scope=identify+guilds&prompt=none'" class="sync-warning-button">
      Update Server List
    </button>
    <br /><br />
  </span>
</div>
<a class="discross-button" href="/">Home</a>
<br>
<a class="discross-button" href="https://discordapp.com/oauth2/authorize?client_id=968999890640338955&scope=bot&permissions=536870912">Add Discross to your server</a>
<br>
{$IMAGES_WARNING}
<br>
<form action="/switchtheme" method="post">
  <button class="discross-button" type="submit">
    Switch Theme
  </button>
</form>
