<tr{$ROW_STYLE}>
  <td style="padding:8px;white-space:nowrap;width:80px;"><font size="2" face="'rodin', Arial, Helvetica, sans-serif" color="#b5bac1"><b>{$DAY_LABEL}</b></font></td>
  <td style="padding:8px;width:32px;">{$ICON_HTML}</td>
  <td style="padding:8px;"><font face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">{$PHRASE}</font></td>
  <td style="padding:8px;" align="right"><font face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd"><b>{$HIGH_F}&deg;F / {$HIGH_C}&deg;C</b></font><br><font size="2" face="'rodin', Arial, Helvetica, sans-serif" color="#72767d">{$LOW_F}&deg;F / {$LOW_C}&deg;C</font></td>
</tr>
