{$HEADLINE_HTML}
<table cellpadding="6" cellspacing="0" width="100%" style="max-width:580px;border-collapse:collapse;border:1px solid #40444b;">
  <tr style="border-bottom:1px solid #40444b;">
    <td style="padding:8px;width:36px;">{$DAY_ICON_HTML}</td>
    <td style="padding:8px;"><font size="3" {$FONT} color="#72767d">Day</font> &mdash; <font {$FONT} color="#dddddd">{$DAY_PHRASE}</font><br><font size="2" {$FONT} color="#72767d">Precip: {$DAY_PRECIP}%</font></td>
    <td style="padding:8px;" align="right"><font {$FONT} color="#dddddd"><b>High: {$HIGH_F}&deg;F / {$HIGH_C}&deg;C</b></font></td>
  </tr>
  <tr>
    <td style="padding:8px;">{$NIGHT_ICON_HTML}</td>
    <td style="padding:8px;"><font size="3" {$FONT} color="#72767d">Night</font> &mdash; <font {$FONT} color="#dddddd">{$NIGHT_PHRASE}</font><br><font size="2" {$FONT} color="#72767d">Precip: {$NIGHT_PRECIP}%</font></td>
    <td style="padding:8px;" align="right"><font {$FONT} color="#dddddd"><b>Low: {$LOW_F}&deg;F / {$LOW_C}&deg;C</b></font></td>
  </tr>
</table>
