<tr valign="middle" style="border-bottom: 1px solid #3a3d42;">
  <td style="padding: 10px;">
    <a href="{$STATION_URL}" style="text-decoration: none; display: block;">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td width="60" style="padding-right: 12px;">
            {$LOGO_HTML}
          </td>
          <td>
            <font face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd" size="2"><b>{$NAME_HTML}</b></font>
          </td>
        </tr>
      </table>
    </a>
  </td>
</tr>
