<div class="embed">
  <div class="embed-color-bar" style="background-color: #5865f2;">&nbsp;</div>
  <div class="embed-content">
    <div style="margin-bottom: 8px; overflow: hidden;">
      {$GUILD_ICON}
      <div style="font-size: 0.85em; color: #b9bbbe;">{$GUILD_NAME} is hosting an event</div>
      <div style="font-size: 1.1em; font-weight: bold;">{$EVENT_NAME}</div>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="color: #dcddde;">{$EVENT_TIME}</span>
    </div>
    {$EVENT_LOCATION}
    {$EVENT_DESCRIPTION}
    {$EVENT_INTERESTED}
    {$EVENT_IMAGE}
  </div>
</div>
