<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed; margin: 24px 0; opacity: 0.6;">
  <tr>
    <td style="vertical-align: middle; width: 35%;">
      <div style="border-top: 1px solid #4e5058; height: 1px; line-height: 1px; font-size: 1px; overflow: hidden;">&nbsp;</div>
    </td>
    <td style="padding: 0 10px; font-size: 12px; font-weight: bold; color: #949ba4; white-space: nowrap; text-align: center; vertical-align: middle; width: 30%;">
      {$DATE_SEPARATOR}
    </td>
    <td style="vertical-align: middle; width: 35%;">
      <div style="border-top: 1px solid #4e5058; height: 1px; line-height: 1px; font-size: 1px; overflow: hidden;">&nbsp;</div>
    </td>
  </tr>
</table>
