<div class="message forwarded forwarded-reply">
    <div class="message-header">
        <span onclick="document.getElementById('message').value += {$TAG}" class="message-author" style="color: {$AUTHOR_COLOR};">
            {$MESSAGE_AUTHOR}
        </span>
        <span class="message-date">
            {$MESSAGE_DATE}
        </span>
    </div>
    <div class="forwarded-label">
        <span class="forwarded-arrow"></span> Forwarded from {$FORWARDED_AUTHOR}
    </div>
    <div class="forwarded-content-wrapper">
        <div class="forwarded-date">
            {$FORWARDED_DATE}
        </div>
        <div class="forwarded-text">
            {$FORWARDED_CONTENT}
        </div>
    </div>
    <div class="messagecontent">
        {$MESSAGE_CONTENT}
    </div>
</div>
