<table cellpadding="0" cellspacing="0" width="100%" style="margin: 0; margin-top: var(--msg-group-gap, 0); padding: 8px 0; padding-left: 12px">
  <tr>
    <td>
      {$REPLY_INDICATOR}
      <table cellpadding="0" cellspacing="0" width="100%" class="message-header-table" style="margin-bottom: 4px">
        <tr>
          <td class="message-author-cell">
            <font onclick="insertMention({$TAG})" style="font-weight:600;font-size:var(--msg-author-font-size,16px);color:{$AUTHOR_COLOR};cursor:pointer;margin-right:8px;text-decoration:none" face="rodin,sans-serif">{$MESSAGE_AUTHOR}</font>
          </td>
          <td align="right" class="message-meta-cell" style="white-space: nowrap; text-align: right;">
            <font style="font-size: 12px; font-size: var(--msg-meta-font-size, 12px); vertical-align: middle;" face="rodin,sans-serif" class="message-date-font">{$MESSAGE_DATE}</font>
            <a href="{$MESSAGE_REPLY_LINK}" class="message-link message-reply-link" style="color: #00b0f4; margin-left: 6px; display: inline-block; vertical-align: middle;"><img src="/resources/twemoji/21a9.gif" class="message-reply-emoji" style="margin-bottom: 3px; margin-right: 3px; width: 14px; height: 14px; vertical-align: middle;" alt="Reply" /></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="message-body-cell">
      <table cellpadding="0" cellspacing="0" width="100%" class="forwarded-block" style="margin-bottom: 4px">
        <tr>
          <td class="forwarded-block-cell">
            <img src="/resources/twemoji/27a1.gif" class="message-reply-emoji" style="vertical-align: middle; margin-right: 4px; width: 14px; height: 14px;" alt="Forwarded" />
            <span class="forwarded-label" style="vertical-align: middle; font-size: 12px; font-size: var(--msg-meta-font-size, 12px); font-family: rodin, sans-serif;">Forwarded</span>
            {$FORWARDED_CONTENT_BLOCK} {$FORWARDED_EMBEDS} {$FORWARDED_ORIGIN}
          </td>
        </tr>
      </table>
      {$MESSAGE_CONTENT}
    </td>
  </tr>
</table>
