<table cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 8px 0; padding-left: 12px">
  <tr>
    <td>
      {$REPLY_INDICATOR}
      <table cellpadding="0" cellspacing="0" width="100%" class="message-header-table" style="margin-bottom: 4px">
        <tr>
          <td class="message-author-cell">
            <font onclick="document.getElementById('message').value += { $TAG }" style="font-weight:600;color:{$AUTHOR_COLOR} !important;cursor:pointer;margin-right:8px" face="rodin,sans-serif" class="message-author-font">{$MESSAGE_AUTHOR}</font>
          </td>
          <td align="right" class="message-meta-cell" style="white-space: nowrap; text-align: right;">
            <font style="font-size: 12px; vertical-align: middle;" face="rodin,sans-serif" class="message-date-font">{$MESSAGE_DATE}</font>
            <a href="{$MESSAGE_REPLY_LINK}" class="message-link message-reply-link" style="color: #00b0f4; margin-left: 6px; display: inline-block; vertical-align: middle;"><img src="/resources/twemoji/21a9.gif" class="message-reply-emoji" style="margin-bottom: 3px; margin-right: 3px; width: 14px; height: 14px; vertical-align: middle;" alt="Reply" /></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="message-body-cell">
      {$MESSAGE_CONTENT}
    </td>
  </tr>
</table>
