<table
  cellpadding="0"
  cellspacing="0"
  width="100%"
  class="ping-row"
  style="margin: 0 0 0 -12px; padding: 8px 0"
>
  <tr>
    <td style="padding-left: 8px">
      {$REPLY_INDICATOR}
      <table cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
        <tr>
          <td>
            <font
              onclick="document.getElementById('message').value += { $TAG }"
              style="font-weight:600;color:{$AUTHOR_COLOR} !important;cursor:pointer;margin-right:8px"
              face="rodin,sans-serif"
              class="message-author-font"
              >{$MESSAGE_AUTHOR}</font
            >
          </td>
          <td>
            <font style="font-size: 12px" face="rodin,sans-serif" class="message-date-font"
              >{$MESSAGE_DATE}</font
            >
          </td>
          <td style="padding-left: 12px">
            <font style="font-size: 12px" face="rodin,sans-serif" class="message-reply-link-font"
              ><a href="{$MESSAGE_REPLY_LINK}" class="message-link" style="color: #00b0f4"
                >Reply</a
              ></font
            >
          </td>
        </tr>
      </table>
      {$MESSAGE_CONTENT}
    </td>
  </tr>
</table>
