<table cellpadding="6" cellspacing="0" width="100%" style="max-width: 580px; border-collapse: collapse; margin-bottom: 20px">
  <tr>
    <td colspan="2" style="padding-bottom: 4px">
      <font size="5" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd"><b>{$NAME}</b></font>
      <font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="#72767d">({$SYMBOL})</font>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-top: 0; padding-bottom: 8px">
      <h1 style="font-size: 24px; font-weight: bold; font-family: 'rodin', Arial, Helvetica, sans-serif; color: #dddddd; margin: 0 0 8px 0;">${$PRICE}</h1>
      <font size="4" face="'rodin', Arial, Helvetica, sans-serif" color="{$COLOR}">{$CHANGE} ({$CHANGE_PCT})</font>
    </td>
  </tr>
  <tr style="border-top: 1px solid #40444b">
    <td style="border-bottom: 1px solid #40444b; width: 50%; vertical-align: top">
      <font size="2" face="'rodin', Arial, Helvetica, sans-serif" color="#72767d">Open</font><br />
      <font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">${$OPEN}</font>
    </td>
    <td style="border-bottom: 1px solid #40444b; vertical-align: top">
      <font size="2" face="'rodin', Arial, Helvetica, sans-serif" color="#72767d">Day High</font><br />
      <font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">${$HIGH}</font>
    </td>
  </tr>
  <tr>
    <td style="border-bottom: 1px solid #40444b; vertical-align: top">
      <font size="2" face="'rodin', Arial, Helvetica, sans-serif" color="#72767d">Day Low</font><br />
      <font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">${$LOW}</font>
    </td>
    <td style="border-bottom: 1px solid #40444b; vertical-align: top">
      <font size="2" face="'rodin', Arial, Helvetica, sans-serif" color="#72767d">Volume</font><br />
      <font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">{$VOLUME}</font>
    </td>
  </tr>
</table>
