<div class="file-download">
    <table>
        <tr>
            <td>
                <span class="file-name">
                    {$FILE_NAME}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="file-size">
                    {$FILE_SIZE}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{$FILE_LINK}"><img src="/resources/images/download.gif" alt="Download button" class="file-download-icon">
                </a>
            </td>   
        </tr>
    </table>

</div>