<div class="download"
    style="position: relative;-moz--webkit-padding: 16px;background: #202328;width: 256px; height: 80px;">
    <table>
        <tr>
            <td>
                <font class="name" size="3" face="Arial, Helvetica, sans-serif" color="#50C9E0" style="color: #50C9E0; font-size: 100%;">
                    {$FILE_NAME}
                </font>
            </td>
        </tr>
        <tr>
            <td>
                <font class="size" size="1" face="Arial, Helvetica, sans-serif" color="#b5b5b5">
                    {$FILE_SIZE}
                </font>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{$FILE_LINK}"><img src="/resources/images/download.gif" alt="Download button"
                    style="position: absolute; vertical-align: right; right: 20px; top: 35px; width: 40px;">
                </a>
            </td>   
        </tr>
    </table>

</div>