<div style="background: #40444b; border-radius: 8px; padding: 4px; margin: 8px 0; width: 100%; box-sizing: border-box;">
    <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse;">
        <tr>
            <td style="width: 100%; padding: 0;">
                <input type="text" name="message" id="message" value=""
                    style="width: 100%; color: #dcddde; background: transparent; border: none; outline: none; height: 44px; padding: 11px 16px; font-family: 'rodin', Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; box-sizing: border-box;"
                    required="" placeholder="Message #{$CHANNEL_NAME}">
            </td>
            <td style="padding: 0 8px 0 0;">
                <button type="submit" class="send-button-input"
                    style="flex: 0 0 auto; border: none; border-radius: 4px; color: white; padding: 0px 24px; cursor: pointer; font-family: rodin, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 600; height: 48px; line-height: 48px; text-align: center; white-space: nowrap; margin-right: 8px; background: rgb(88, 101, 242);"
                    onmouseover="this.style.background='#4752c4'"
                    onmouseout="this.style.background='#5865f2'">Send</button>
            </td>
        </tr>
    </table>
</div>
</div>
</td>
