<table style="width: 100%; border-spacing: 0;">
        <tbody>
            <tr>
                <td style="width: 100%;">
                    <input type="text" name="message" id="message" value=""
                        style="color: #dddddd;background: #393c40;border: none;width: 100%;outline: none;height: 40px;padding: 8px;"
                        required="" placeholder="Message #{$CHANNEL_NAME}">
                </td>
                <td style="width: 60px; text-align: center;">
                    <input type="submit"
                        style="width: 55px;border: 1px solid #4a5568;color: #dddddd;height: 40px;background: #4a5568;"
                        value="Send">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</td>