<div style="background: #40444b; border-radius: 8px; padding: 4px; margin: 8px 0;">
                    <input type="text" name="message" id="message" value=""
                        style="width: 100%; color: #72767d; background: transparent; border: none; outline: none; height: 44px; padding: 11px 16px; font-family: 'rodin', Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; box-sizing: border-box;"
                        required="true" disabled="true" placeholder="You don't have permission to send messages in this channel.">
                </div>
</div>
</td>