<tr>
  <td
    style="width:12px;height:10px;padding-top:0;vertical-align:top;border-left:2px solid {$BAR_COLOR};border-top:2px solid {$BAR_COLOR};border-top-left-radius:4px"
  ></td>
  <td style="padding-left: 8px; padding-top: 0; vertical-align: top; line-height: 11px">
    <font
      style="position:relative;top:{$REPLY_TEXT_TOP_OFFSET}px;display:inline-block;vertical-align:top;font-size:11px;font-weight:600;color:{$AUTHOR_COLOR}"
      face="rodin,sans-serif"
      >{$AT_SIGN}{$AUTHOR_NAME}</font
    >
  </td>
  {$CONTENT_TD}
</tr>
