<tr style="border-bottom:1px solid #40444b;">
  <td>
    <font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd"><b>{$CODE}</b></font><br>
    <font size="2" face="'rodin', Arial, Helvetica, sans-serif" color="#72767d">{$NAME}</font>
  </td>
  <td><font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="#dddddd">{$RATE}</font></td>
  <td><font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="{$COLOR}">{$CHANGE}</font></td>
  <td><font size="3" face="'rodin', Arial, Helvetica, sans-serif" color="{$COLOR}">{$CHANGE_PCT}</font></td>
</tr>
